/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2024, 8:00:59 AM
    Author     : APC
*/

/*

background: #1F568B;
color: white;
*/


body {
    font-family: sans-serif;
    color: #333;
}
/*header*/
#header {
    padding: 60px;
    text-align: center;
    background: #1F568B;
    color: white;
    font-size: 30px;
}
/*Flex Body*/
#body {
    padding: 10px;
    background: #1F568B;
    color: white;
    display: flex;
    font-size: 15px;
}

/*left Body*/
#postTable {
    flex: auto;
    padding: 10px;
    width: 45%;
}
/*right Body*/
#topicTable {
    flex: none;
    float: right;
    padding: 10px;
    width: 30%;
}


/*footer*/
#footer {
    padding: 60px;
    text-align: center;
    background: #1F568B;
    color: white;
    font-size: 30px;
}
#footer a {
    /*text-decoration: none;*/
    color: #fff;
}
#footer a:hover {
    color: #333;
}

/*search bar*/

#menu ul .search-container {
    display: inline-block;
}

#menu ul .search-container form{
    display: inline-block;
    padding: 10px;
}

#menu ul .search-container input {
    font-size: 17px;
    border: none;
}

#menu ul .search-container button {
    font-size: 15px;
    float: right;
}

/*menu nav bar*/
#menu ul {
    background: #1F568B;
    list-style-type: none;
    text-align: center;
}
#menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-left: -5px;
}
#menu a {
    text-decoration: none;
    color: #fff;
    display: block;
}
#menu a:hover {
    background: #F1F1F1;
    color: #333;
}